# ignore all the log files
*.log

# ignore python virtual environment folder
env

# ignore copyright audio
/audio/TooSweet.mp3

# ignore README file preview
README.html

# ignore windows app built using pyinstaller
windows_app

